<article>
  <h2>
    Edit Post
  </h2>
  <form id="updatePost">
    <div>
      <input id="post-title" name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
      Posted by you on {{formatDate post.created_at}}
      |
      {{post.comments.length}} {{pluralCheck "comment" post.comments.length}}
    </div>
    <div>
      <label for="post-text">Post</label>
      <textarea id="post-text" name="post-text">{{post.text}}</textarea>
    </div>
    <button type="submit">Save Changes</button>
    <button id="submit" type="button" data-id="{{post.id}}" class="delete-post-btn">Delete Post</button>
  </form>
</article>


<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>